nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    width: 840px;
}

aside {
    margin: auto;
    border: 1px solid steelblue;
    background-color: #EEEEEE;
    padding: 20px;
    color: steelblue;
}

aside img {
    width: 200px;
    height: auto;
}

footer p {
    margin: 20px;
    border-top: 2px solid steelblue;
    text-align: center;
}