* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: steelblue;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
}

aside {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

aside h2 {
    position: absolute;
    top: 115px;
    left: 50px;
    z-index: 1;
    font-size: 2rem;
}

aside img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

footer p {
    margin: 20px;
    text-align: center;
}

footer {
    border-top: 2px solid steelblue;
    background-color: #EEEEEE;
    padding: 20px;
}

/* Class Selectors */

.box {
    margin: 1rem ;
    border: 1px solid rgba(0,0,0, .1);
    padding: 1rem ;
    background-color: steelblue;
    color: #ffffff;
}