* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    width: 840px;
}

aside {
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 15px;
    z-index: 1;
}

aside img {
    width: 200px;
    height: auto;
    opacity: 0.9;
}

footer p {
    margin: 20px;
    text-align: center;
}

footer {
    border-top: 2px solid steelblue;
    background-color: #EEEEEE;
    padding: 20px;
}

/* Class Selectors */

.box {
    margin: 1rem ;
    border: 1px solid rgba(0,0,0, .1);
    padding: 1rem ;
    background-color: steelblue;
    color: #ffffff;
}